h1 {
    color: blue;
    font-size: 2em;
    text-align: center;
}
/* div.glavnastran{ */
body::after {
     content: "";
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;    
    background-image: url('rutice.webp');
    opacity:0.4;
    z-index: -1; /* postavi ozadje za vsebino */
    pointer-events: none; /* omogoči klik/hover na elemente nad njim */
}   

/* skrij besedilo dokler uporabnik ne prileti z miško */
p.skrivnost {
    opacity: 0;
    transition: opacity 0.2s ease;
}
p.skrivnost:hover {
    opacity: 1;
}